NEXT_PUBLIC_SITE_URL=http://localhost:3000/

NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT=6733aee2002b5f57d6cd
APPWRITE_DATABASE_ID=6733b01c0034e17abc89
APPWRITE_USER_COLLECTION_ID=6733b04000098d1d5967
APPWRITE_BANK_COLLECTION_ID=6733b075000f67c50fe5
APPWRITE_TRANSACTION_COLLECTION_ID=6733b07c0031f291b09f

APPWRITE_SECRET=standard_b0ab1524774cdedc7fec5f5fd2d36afb6025ca07162af127425d406713a01144287d242790c016ec75b42a9f238f96d35c7d4d6d7c4993edb116a8d09ee45fe62d341e617c6eba25adc7319ede1dfa13b4d3ece38d4b8b4c371243b77afe4a81d97cec8fdf9414f1866237eb0132ea8dc025d02e89658f9d283d1f8c852e65e8

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority
